pkgbase = gitbutler-bin
	pkgdesc = Version control client, backed by Git, powered by Tauri/Rust/Svelte
	pkgver = 0.14.31
	pkgrel = 1
	url = https://gitbutler.com/
	arch = x86_64
	license = FSL-1.0-MIT
	depends = libayatana-appindicator
	depends = webkit2gtk-4.1
	depends = gtk3
	source = https://releases.gitbutler.com/releases/release/0.14.31-2048/linux/x86_64/GitButler_0.14.31_amd64.deb
	sha256sums = e2929377cbf70e77161016cfba1b6ef9f3bda72b5df7ac1178ac3a4d94cc9a30

pkgname = gitbutler-bin
